{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %}{{ movie.title }}{% endblock %}

{% block content %}
<h1>{{ movie.title }}</h1>
<h3>{{ movie.original_title }}</h3>
{% for g in movie.genres.all %}
{{ g.name }},
{% endfor %}
<p class="text-right">{{ movie.release_date }}</p>
<p>{{ movie.overview }}</p>

{% if request.user.is_authenticated %}
  {% if request.user in movie.like_user.all %}
  <i class="fas fa-heart fa-lg like-buttons" style="color:crimson" data-id="{{ movie.pk }}"></i>
  {% else %}
  <i class="fas fa-heart fa-lg like-buttons" style="color:black" data-id="{{ movie.pk }}"></i>
  {% endif %}
{% endif %}
<span id="like-count-{{ movie.pk }}">{{ movie.like_user.all|length }}</span> 명이 이 글을 좋아합니다.


<script>
  const likeButtonList = document.querySelectorAll('.like-buttons')

  likeButtonList.forEach(likeButton => {
    likeButton.addEventListener('click', e => {
      const movidID = e.target.dataset.id

      {% if user.is_authenticated %}
      axios.get(`/movies/${movidID}/movie_like/`)
      .then(res => {
          document.querySelector(`#like-count-${movidID}`).innerText = res.data.count
          if (res.data.liked) {
            e.target.style.color = 'crimson'
          } else {
            e.target.style.color = 'black'
          }
        })
      {% else %}
        alert('로그인이 필요합니다.')
      {% endif %}
    })
  })
</script>


{% endblock %}