{% extends 'base.html' %}
{% load bootstrap4 %}
{% load bootstrap_pagination %}

{% block title %}Home{% endblock %}

{% block content %}
<h2>추천 영화!</h2>
<div class="row row-cols-1 row-cols-md-3">
{% for rm in ranmv %}
  <div class="col-2.5 m-2">
    <div class="card" style="height:300px;">
        <a href="{% url 'movies:movie_detail' rm.pk %}"><img src="https://image.tmdb.org/t/p/w342{{ rm.poster_path }}" style="height:300px;"></a>
    </div>
  </div>
{% endfor %}
</div>
<hr>
<h2>영화 LIST</h2>
<div class="row row-cols-1 row-cols-md-3">
{% for movie in page_obj %}
  <div class="col-3 mb-4">
    <div class="card" style="height:400px;">
        <a href="{% url 'movies:movie_detail' movie.pk %}"><img src="https://image.tmdb.org/t/p/w342{{ movie.poster_path }}" style="height:400px;"></a>
    </div>
  </div>
{% endfor %}
</div>

{% bootstrap_paginate page_obj range=10 show_prev_next="false" show_first_last="true" %}


{% endblock %}
